body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.inputbox {
    position:fixed;
    margin-right: 50px;
    top:0%;
    left:6%;
    width: 200px;
}
form {
    float:right;
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}
/*form input[type=textarea]*/
form input[type=textarea] {
    margin-right: 10px;
    /*width: 70%;*/
    font-size: 12px;
    padding: 5px;
}

textarea{
    margin-right: 10px;
    /*width: 70%;*/
    font-size: 12px;
    padding: 5px;
    resize: vertical; 

}


.submit {
    background-color:#dcdcdc;
    border-radius: 3px;
    width: 65px;
    margin-left: 50%;
    font-size: 20px;

}

.submit:hover{
    cursor: pointer;
    background-color: orange;
    }

.chats{
    margin-top: 200px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
    cursor: pointer;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

<<<<<<< HEAD

.container{
    float: right;
    height: 150px;
    width: 200px;
    position:fixed;
     top: 10%;
     right: 5%;
     display: inline;
    background-color:#dcdcdc;
    border-radius: 2000px;
    font-size: 20px;
}
#login {
    height:30px;
    width: 60px;
    right: 0px;
}
#login:hover {
    background-color: green;
    cursor: pointer; 
}
.refresh:hover{
    background-color: yellow;
    cursor: pointer;
=======
.button {
    font-style: normal;

}

.p {
    font-style: normal;
>>>>>>> 435cdf4500258f238179a5b6507f2f215e05414b
}
